/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-self: center;
    margin: 0;
    width: 100%;
    max-width: 1440px;
    min-width: 320px;
    box-sizing: border-box;
}

.main-container {
    padding: 0 50px;
    gap: 35px;
    justify-content: center;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.card-subtitle {
    font-size: 14px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/*********** Navigation ***********/

header * {
    display: flex;
}

.navigation {
    justify-content: space-between;
    height: 79px;
    margin-bottom: 30px;
}

.navigation__logo {
    padding: 30px 50px;
}

.navigation__menu {
    gap: 68px;
    padding: 0px 50px;
    height: 35px;
}

.navigation__menu-item {
    padding: 20px 0px;
}

.navigation__menu-item:hover {
    color: #0065FC;
    border-top: 2px solid #0065FC;
}

/*********** Search ***********/

/* Headline */

.headline {
    display: flex;
    flex-direction: column;
    height: 53px;
    margin-bottom: 30px;
    gap: 15px;
}

.headline__title {
    margin: 0;
    font-size: 22px;
}

.headline__subtitle {
    margin: 0;
}

/* Search__bar */

.search__bar {
    display: flex;
    height: 49px;
    margin-bottom: 30px;
}

.search__bar-icon {
    display: flex;
    width: 49px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    border: 1px solid #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    background-color: #F2F2F2;
}

.fa-location-dot {
    color: black;
}

.search__bar-input {
    border: 1px solid #F2F2F2;
    font-size: 18px;
    font-weight: 700;
    justify-items: center;

}

.search__bar-input::placeholder {
    font-size: 18px;
}

.search__bar-button {
    width: 132px;
    font-size: 18px;
    font-weight: 700;
    justify-items: center;
    color: #FFF;
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
    background-color: #0065FC;

}

/* Filter__bar */

.filter__bar {
    display: flex;
    margin-bottom: 30px;
    height: 49px;
    gap: 30px;
    font-weight: 700;
}

.filter__bar-title {
    font-size: 18px;
}

.filter__bar-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.filter__bar-item {
    display: flex;
    height: 49px;
    border: 2px solid #D9D9D9;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    font-size: 17px;
    gap: 10px;
    padding: 0px 20px;
}

.filter__bar-item:hover {
    background-color: #DEEBFF;
    border-radius: 25px;
}

/* Info__bar */

.info__bar {
    display: flex;
    height: 25px;
    margin-bottom: 30px;
    align-items: center;
    gap: 20px;
}

.info__bar-icon {
    display: flex;
    width: 24px;
    height: 24px;
    border: 1px solid #D9D9D9;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 33px;
    margin-bottom: 33px;
    gap: 10px;
}

.hebergements-cards .card {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 200px;
}

.hebergements-cards img {
    height: 55%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-cards .card-content {
    height: 45%;
    padding-left: 20px;
    gap: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.hebergements-cards .card-subtitle {
    margin: 0;
}

.hebergements-cards .card-rating {
    margin-bottom: 5px;
}

.afficher-plus {
    font-weight: 700;
    font-size: 18px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}