/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    justify-self: center;
    margin: 0;
    width: 100%;
    max-width: 1440px;
    min-width: 320px;
}

.main-container {
    padding: 0 50px;
    display: flex;
    flex-direction: column;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.info:hover,
.card:hover {
    transform: scale(1.01);
    transition: 0.5s;
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.card-subtitle {
    font-size: 14px;
}

.euro,
.search__bar-input,
.search__bar-button,
.filter__bar-item,
.afficher-plus,
.footer__item-title {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/*********** Navigation ***********/

.navigation {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.navigation__logo {
    display: flex;
    padding: 30px 50px;
}

.navigation__logo img {
    width: 60px;
    object-fit: cover;
}

.navigation__menu {
    display: flex;
    gap: 68px;
    padding: 0px 50px;
}

.navigation__menu-item {
    padding: 20px 0px;
}

.navigation__menu-item:hover {
    color: #0065FC;
    border-top: 2px solid #0065FC;
}

/*********** Search ***********/

.search {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 30px;
}

/* Headline */

.headline {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.headline__title {
    margin: 0;
    font-size: 22px;
}

.headline__subtitle {
    margin: 0;
}

/* Search__bar */

.search__bar {
    display: flex;
}

.search__bar-mobile {
    display: none;
}

.search__bar-icon {
    display: flex;
    height: 49px;
    width: 49px;
    align-items: center;
    justify-content: center;
    border: 1px solid #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    background-color: #F2F2F2;
    box-sizing: border-box;
}

.fa-location-dot {
    color: black;
}

.search__bar-input {
    height: 49px;
    font-size: 18px;
    border: 1px solid #F2F2F2;
    box-sizing: border-box;
    outline: none;
}

.search__bar-input::placeholder {
    font-size: 18px;
}

.search__bar-button {
    height: 49px;
    font-size: 18px;
    color: #FFF;
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
    background-color: #0065FC;
    box-sizing: border-box;
    cursor: pointer;
}

.search__bar-button:hover {
    background-color: #0058db;
}

/* Filter__bar */

.filter__bar {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.filter__bar-title {
    display: flex;
    align-items: center;
    margin: 0;
    font-size: 18px;
}

.filter__bar-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.filter__bar-item {
    display: flex;
    height: 49px;
    border: 2px solid #D9D9D9;
    justify-items: center;
    align-items: center;
    border-radius: 25px;
    font-size: 17px;
    gap: 10px;
    padding: 0px 20px;
}

.filter__bar-item:hover {
    background-color: #DEEBFF;
    border-radius: 25px;
}

/* Info__bar */

.info__bar {
    display: flex;
    align-items: center;
    gap: 10px;
}

.info__bar-icon {
    display: flex;
    width: 24px;
    height: 24px;
    border: 1px solid #D9D9D9;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/

#hebergements {
    width: 65%;
}

.hebergements-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px 0px;
    gap: 20px;
}

.hebergements-cards .card {
    display: flex;
    flex-direction: column;
}

.hebergements-cards a {
    width: 30%;
}

.hebergements-cards img {
    height: 100px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-cards .card-content {
    padding-left: 15px;
}

.hebergements-cards .card-content .card-subtitle {
    margin: 5px 0px 10px 0px;
}


.afficher-plus {
    font-size: 18px;
    margin: 0;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/*********** Activités ***********/

#activites {
    padding: 30px 30px;
}

.activites-info {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.activites-info .info {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: none;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.activites-info a {
    width: 20%;
    height: auto;
}

.info img {
    object-fit: cover;
    height: 400px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.activites-info .card-title {
    padding-left: 15px;
}

/*********** Footer ***********/

.footer {
    display: flex;
    background-color: #F2F2F2;
}

.footer__item {
    display: flex;
    flex-direction: column;
    width: 30%;
    padding-left: 30px;
}

.footer__item-title {
    font-size: 18px;
}

.footer__item-txt {
    font-size: 16px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    /* Filter__bar Tablette */

    .filter__bar {
        flex-direction: column;
    }

    /* Hebergements and Populaires Tablette */

    .hebergements-and-populaires {
        flex-direction: column;
    }

    #hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    /* Activités Tablette */

    .info img {
        height: 150px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    .main-container {
        padding: 0px;
    }

    .search {
        padding: 10px 20px;
    }

    /* Navigation Mobile */
    .navigation {
        flex-direction: column;
    }

    .navigation__logo {
        justify-content: center;
    }

    .navigation__menu {
        gap: 0px;
        padding: 0px;
    }

    .navigation__menu a {
        width: 50%;
        justify-items: center;
    }

    .navigation__menu a:hover {
        border-bottom: 2px solid #0065FC;
    }

    .navigation__menu-item:hover {
        border-top: none;
    }

    /* Search__bar */

    .search__bar {
        display: none;
    }

    .search__bar-mobile {
        display: flex;
    }

    .search__bar-icon {
        height: 45px;
        width: 45px;
    }

    .search__bar-input {
        height: 45px;
    }

    .search__bar-button {
        height: 45px;
        width: 45px;
    }

    /* Filter__bar Mobile */

    .filter__bar-menu {
        justify-content: center;
    }

    .filter__bar-menu a {
        width: 45%;
    }

    .filter__bar-item {
        height: 40px;
        font-size: 14px;
    }

    .filter__bar-item .fa-solid {
        width: 14px;
        height: 14px;
    }

    /* Hebergements And Populaires Mobile */

    .hebergements-and-populaires {
        flex-direction: column-reverse;
    }

    .hebergements-and-populaires section {
        border-radius: 0%;
    }

    /* Hebergements Mobile */

    #hebergements {
        width: 100%;
        background-color: white
    }

    .hebergements-cards a {
        width: 100%;
    }

    .hebergements-cards img {
        height: 150px;
    }

    /* Populaires Mobile */

    .populaires {
        width: 100%;
    }

    .populaires-cards {
        flex-direction: column;
    }

    .populaires-cards a {
        width: 100%;
    }

    /* Activités Mobile */

    .activites-info {
        flex-direction: column;
        gap: 10px;
    }

    .activites-info a {
        width: 100%;
    }

    .info img {
        height: 200px;
    }

    /* Footer Mobile */

    .footer {
        flex-direction: column;
    }

    .footer__item {
        white-space: nowrap;
    }
}